# Node/Vite
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
playwright-report/
test-results/

# Environment
.env
.env.*

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Misc
*.tgz
